// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.git-tabular-diff {
  overflow: auto;

  .gtd-heading {
    color: @text-color-highlight;
    white-space: nowrap;
  }

  .gtd-body {
    overflow-x: visible;
  }

  .gtd-table {
    width: 100%;
    background-color: @input-background-color;
    border-collapse: separate;
    font-family: monospace;
    white-space: nowrap;
  }

  .gtd-header-cell () {
    position: sticky;
    background-color: @base-background-color;
    color: @text-color-info;
  }

  .gtd-columnheader-cell {
    .gtd-header-cell();

    top: 0;
  }

  .gtd-rowheader-cell {
    .gtd-header-cell();

    left: 0;
  }

  .gtd-changed-cell {
    color: @text-color-warning;
  }

  .add {
    color: @text-color-success;
  }

  .gap {
    color: @text-color-info;
  }

  .move {
    color: @text-color-warning;
  }

  .remove {
    color: @text-color-error;
  }
}
